@import './breakpoints';

:root {
  --min-width: 320px;
  --max-width: 2000px;

  --header-height: 5.6rem;

  --gap-large: 6.4rem;
  --gap-medium-large: 3.2rem;
  --gap-medium: 2.4rem;
  --gap-medium-small: 1.6rem;
  --gap-small: 0.8rem;

  --transition: 0.25s ease-in-out;

  @include tablet {
    --header-height: 5.8rem;
  }

  @include laptop {
    --header-height: 6rem;
  }

  @include desktop {
    --header-height: 6.8rem;
  }
}
